* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    color: white;
    font-style: bolder;
    font-style: italic;
}

h2 {
font-size: 20px;
color: #0000ff;
font-style: bolder;
}

h3 {
font-size: 16px;
color: teal;
font-style: bolder;
}

p {
    color: #4D4D4D;
}
.paragraaf {
    color: aquamarine;
    font-style: bolder;
}

a {
    color: #8A2BE2;
    text-decoration: none;
}

.box {
    top: 0px;
    width: 100vw;
    height: 200px;
    background-image: ;
}

.header-class{
border-image: fill;
background-position: center;
background-size: cover;
background-image: url(img/Games.png);
background-repeat: no-repeat
}

img{
    width: 50vw;
}

article {
    border-left-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #4D4D4D;
}

